.outer-container{
  background:linear-gradient(to left, #00b09b, #6A82FB);
    height: 100vh;
    color: white;
}
.outer-container span{
    min-width: 50px;
  }
  .form-field{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
  }
  .form-field .fas{
    margin: 12px 12px 0 0;
  }
  #help{
    background: linear-gradient(to right, #0f0c29,#302b63,#24243e);
    width: 30%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
  }